# {{ ansible_managed }}
PUCKVIEW_LISTEN={{ puckview_bind_ip }}:{{ puckview_port }}
PUCKVIEW_DB={{ puckview_data_dir }}/puckview.db
PUCKVIEW_CATALOGUE={{ puckview_dir }}/catalogue.json
PUCKVIEW_LAN_RESOLVER={{ puckview_lan_resolver }}
PUCKVIEW_IFACE=
PUCKVIEW_GRACE=15s
